<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('build/style.css') }}">
    {% endblock %}
</head>
<body>
<ul class="nav nav-tabs">
    <li class="nav-item">
        <a class="nav-link active" href="#">Active</a>
    </li>
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Gestion</a>
        <div class="dropdown-menu">
            <a class="dropdown-item" href="{{ path('bike_index') }}">Bike</a>
            <a class="dropdown-item" href="{{ path('reservation_index') }}">Reservation</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="{{ path('tag_index') }}">Tag</a>
        </div>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{ path('bike_owner_index') }}">BikeOwner</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{ path('customer_index') }}">Customer</a>
    </li>
</ul>

{% block body %}{% endblock %}
{% block javascripts %}
    {{ encore_entry_script_tags('script') }}
{% endblock %}
</body>
</html>
